<%= form_with(model: @exercise, local: true, url: confirm_exercises_path) do |form| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= @exercise.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      </ul>
    </div>
  <% end %>
  
  <div class="tweet_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>