<h3>Send your tweet</h3>

<%= form_with(model: @exercise, url: exercises_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>Content:<%= @exercise.content %></p>
  <%= form.submit  "register your tweet" %>
<% end %>

<%= form_with(model: @exercise, url: new_exercise_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "back to input view", name: 'back' %>
<% end %>
