<!DOCTYPE html>
<html>
  <head>
    <title>Exercise1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">Tweet Anything</div>
      <div class="header-list">
        <ul>
          <li><%= link_to("Go to Top", "/") %></li> 
          <li><%= link_to("Your Tweet List", "/exercises") %></li>
        </u>  
      </div>  
      <div class="header-login">Login</div>
    </header>


  <footer>
    <p>Copyright © 2019 TWEET ANYTHING All RIGHTS RESERVED.</p>
  </footer> 


    <%= yield %>

  </body>
</html>
